<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>page not found</title>
    <link rel="icon" href="img/weather.png">

    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
<div class="main">
{{>header}}
<h1>{{errorMessage}}</h1>
</div>
{{>footer}}


</body>
</html>