<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="img/weather.png">


</head>
<body>
<div class="main">
{{>header}}

<img class="portrait" src="img/IMG_20190801_060306-01.jpeg">
</div>
{{>footer}}
</body>
</html>