<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="img/weather.png">


</head>
<body>
<div class="main">
{{>header}}
<h3>this site was created by mohamed mahmoud</h3>
    <p>it uses mapbox.com and weather stack apis to get the shown weather</p>
<img class="portrait" src="img/pic.png">
</div>
{{>footer}}
</body>
</html>