<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>help</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="img/weather.png">


</head>
<body>
<div class="main">
{{>header}}

<h3>{{helpMassege}}</h3>
    <p>you can find the source code in the following link </p>
    <a href="https://github.com/mohamed-mahmoud377/weatherApp"> github repository </a>
</div>
{{>footer}}

</body>
</html>