<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="main">
    {{>header}}
    <p>here you can find the weather</p>
    <form>
        <input placeholder="your location">
        <button>Search</button>
    </form>
    <img class="WImg" alt="image not found" id="WImg" src="none">
    <p id="ms1"></p>
    <p id="ms2"></p>
</div>


{{>footer}}
<script src="js/index.js"></script>
</body>
</html>